<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OMTHPL2021 | {% block title %}{% endblock %}</title>
        {% block header %}{% endblock %}
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/pickban/style.css" type="text/css">
        <link rel="stylesheet" href="/static/css/framework/bootstrap.min.css" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>