<!--        1.Make 2nd block after 1st block click stroke start fading
            2.Make mappool section - ALMOST DONE
            3. Tweak up design
            4.Pull pfp from database - How
-->

{% extends '/pickban/base.html' %}
{% block title %}Pick & Ban{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div id="app">
    <nav class="mx-auto px-8">
        <div class="flex h-14 justify-between items-center">
            <div class="flex-row justify-start text-white text-3xl">
                <a href="/pickban">Pick & Ban</a>
            </div>
            <div class="flex-row justify-end text-white text-3xl">
                <div class='flex gap-2 items-center'>
                    <img src="https://a.ppy.sh/{{ session.user_id }}" class="avatar">
                    <a href="/" class="text-xl right-16 top-4">{{ session.username }}</a>
                </div>
            </div>
        </div>
    </nav>

    <section id="pickban" class="px-10 py-10">
        <div class="flex flex-col space-y-8">
            <div v-if="results.reverse == 1">
                <div id="team1" class="flex flex-row justify-start">
                    <div class="flex flex-col justify-center w-1/9 overflow-hidden">
                        <img :src="'https://a.ppy.sh/' + results.team2.leader_id" class="avatar-picture">
                        <h1 class="text-white text-xl mt-2"><% results.team2.leader_name %></h1>
                    </div>
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[0].info != null" :class="'b-block ' + (results.banpicks[0].info != null ? 'border-4 border-red-700 ban-element':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[0].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[0].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[0].info == null ? 'banning':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[3]" class="b-block" :class="'b-block ' + (results.banpicks[3] ? 'border-4 border-blue-700':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[3].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[3].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[2] ? 'picking':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[5]" class="b-block" :class="'b-block ' + (results.banpicks[5] ? 'border-4 border-red-700 ban-element':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[5].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[5].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[4] ? 'banning':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[6]" class="b-block" :class="'b-block ' + (results.banpicks[6] ? 'border-4 border-blue-700':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[6].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[6].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[5] ? 'picking':'')"></div>
                    </div>
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
                </div>
                <div id="team2" class="flex flex-wrap overflow-hidden justify-start">
                    <div class="flex flex-col justify-center w-1/9 overflow-hidden">
                        <img :src="'https://a.ppy.sh/' + results.team1.leader_id" class="avatar-picture">
                        <h1 class="text-white text-xl mt-2"><% results.team1.leader_name %></h1>
                    </div>
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[1]" class="b-block" :class="'b-block ' + (results.banpicks[1] ? 'border-4 border-red-700 ban-element':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[1].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[1].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[0].info ? 'banning':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[2]" class="b-block" :class="'b-block ' + (results.banpicks[2] ? 'border-4 border-blue-700':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[2].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[2].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[1] ? 'picking':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[4]" class="b-block" :class="'b-block ' + (results.banpicks[4] ? 'border-4 border-red-700 ban-element':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[4].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[4].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[3] ? 'banning':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[7]" class="b-block" :class="'b-block ' + (results.banpicks[7] ? 'border-4 border-blue-700':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[7].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[7].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[6] ? 'picking':'')"></div>
                    </div>
                </div>
            </div>
            <div v-else>
                <div id="team1" class="flex flex-row justify-start">
                    <div class="flex flex-col justify-center w-1/9 overflow-hidden">
                        <img :src="'https://a.ppy.sh/' + results.team1.leader_id" class="avatar-picture">
                        <h1 class="text-white text-xl mt-2"><% results.team1.leader_name %></h1>
                    </div>
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[0].info != null" :class="'b-block ' + (results.banpicks[0].info != null ? 'border-4 border-red-700 ban-element':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[0].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[0].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[0].info == null ? 'banning':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[3]" class="b-block" :class="'b-block ' + (results.banpicks[3] ? 'border-4 border-blue-700':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[3].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[3].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[2] ? 'picking':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[5]" class="b-block" :class="'b-block ' + (results.banpicks[5] ? 'border-4 border-red-700 ban-element':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[5].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[5].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[4] ? 'banning':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[6]" class="b-block" :class="'b-block ' + (results.banpicks[6] ? 'border-4 border-blue-700':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[6].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[6].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[5] ? 'picking':'')"></div>
                    </div>
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
                </div>
                <div id="team2" class="flex flex-wrap overflow-hidden justify-start">
                    <div class="flex flex-col justify-center w-1/9 overflow-hidden">
                        <img :src="'https://a.ppy.sh/' + results.team2.leader_id" class="avatar-picture">
                        <h1 class="text-white text-xl mt-2"><% results.team2.leader_name %></h1>
                    </div>
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[1]" class="b-block" :class="'b-block ' + (results.banpicks[1] ? 'border-4 border-red-700 ban-element':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[1].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[1].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[0].info ? 'banning':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[2]" class="b-block" :class="'b-block ' + (results.banpicks[2] ? 'border-4 border-blue-700':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[2].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[2].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[1] ? 'picking':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[4]" class="b-block" :class="'b-block ' + (results.banpicks[4] ? 'border-4 border-red-700 ban-element':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[4].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[4].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[3] ? 'banning':'')"></div>
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden blank-block">
                    </div>
    
                    <div class="w-1/9 overflow-hidden">
                        <div v-if="results.banpicks[7]" class="b-block" :class="'b-block ' + (results.banpicks[7] ? 'border-4 border-blue-700':'')"
                            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[7].info.beatmapset_id +'/covers/cover.jpg);'">
                            <a class="mods">
                                <% results.banpicks[7].mods %>
                            </a>
                        </div>
                        <div v-else :class="'b-block ' + (results.banpicks[6] ? 'picking':'')"></div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <h1 class="text-3xl text-white" v-if='results.picker'>Team <% results.picker_t %>
                        <% results.status %>
                </h1>
                <h1 v-else class="text-3xl text-white">Ban & Pick was finished. You can close this and continue your match in game. Goodluck!!</h1>
            </div>
        </div>
    </section>
    <section id="mappool" class="h-screen mx-auto pt-8 pr-20 pl-20" v-if='once == 0'>
        <div class="flex flex-wrap justify-center gap-4">
            <div id="mapsel" :class="'card bg-dark map-card text-start disabled'"
                v-for="(item, index) in results.available_maps" :key="item.id"
                :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ item.info.info.beatmapset_id +'/covers/cover.jpg);'">
                <div class="card-img-overlay dark-background">
                    <div class="flex">
                        <div class="text-truncate mr-auto">
                            <h5 class="card-title fw-bold">
                                <% item.info.info.title %>
                            </h5>
                            <p class="card-text">
                                <% item.info.info.artist %>
                            </p>
                        </div>
                        <div class="mods-ele">
                            <% item.info.mods %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    const socket = io('/pickban_n');

    new Vue({
        el: '#app',
        delimiters: ["<%", "%>"],
        data: {
            results: {},
            userid: Number('{{ session.user_id }}'),
            setid: Number('{{ match_set }}'),
            once: 0
        },
        created: function () {
            userid = this.userid
            setid = this.setid
            socket.on('connect', msg => {
                socket.emit('ready', {userid, setid})
            })

            socket.on('disconnect', function () {
                socket.emit('ready', {userid, setid})
            });

            socket.on(`data_result_${setid}`, msg => {
                this.results = msg
            })

            socket.on(`new_result_${setid}`, msg => {
                this.results = msg
                this.once = 0
                console.log(this.results)
            })
        }
    });
</script>

{% endblock %}