{% extends '/pickban/base.html' %}
{% block title %}Pick & Ban{% endblock %}
{% block header %}
<link rel="stylesheet" href="/static/css/pickban/style.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<header class="mx-auto">
    <div class="flex flex-col h-16 justify-center items-center round-text">
        <h1 class="text-3xl text-white">Pick & Ban</h1>
    </div>
</header>
<div class="flex flex-col items-center justify-center p-8 round-text in-and-out">
    <h1 class="text-4xl text-white">Team {{ team_name }} {{ state }}</h1> <!-- EX: Team {{ name }} {{ state }} -->
</div>
{% endblock %}