<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>banpick_streamer</title>
    <link rel="stylesheet" href="/static/css/stream/background.css">
    <link rel="stylesheet" href="/static/css/stream/pickban-stream.css">
    <link rel="stylesheet" href="/static/css/stream/fonts/stylesheet.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body class="fhe-body" id="app">
    <div class="fhe-mainFrame" v-if="results.reverse == 0">
        <div class="header">
            <div class="header-title"><% results.team1.full_name %> vs <% results.team2.full_name %></div>
            <div class="header-sub">Ban Pick Screen</div>
        </div>
        <div class="ban-elements">
            <div class="banpick-1"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[0].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[0].info != null">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[0].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[0].info.title %></div>
                    <div class="song-artist"><% results.banpicks[0].info.artist %></div>
                </div>
                <div v-else>
                    <div class="picking-text">Banning</div>
                </div>
            </div>
            <div class="banpick-2"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[1].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[1]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[1].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[1].info.title %></div>
                    <div class="song-artist"><% results.banpicks[1].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[0].info != null">
                    <div class="picking-text">Banning</div>
                </div>
            </div>
            <div class="banpick-3"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[2].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[2]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[2].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[2].info.title %></div>
                    <div class="song-artist"><% results.banpicks[2].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[1]">
                    <div class="picking-text">Picking</div>
                </div>
            </div>
            <div class="banpick-4"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[3].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[3]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[3].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[3].info.title %></div>
                    <div class="song-artist"><% results.banpicks[3].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[2]">
                    <div class="picking-text">Picking</div>
                </div>
            </div>
            <div class="banpick-5"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[4].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[4]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[4].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[4].info.title %></div>
                    <div class="song-artist"><% results.banpicks[4].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[3]">
                    <div class="picking-text">Banning</div>
                </div>
            </div>
            <div class="banpick-6"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[5].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[5]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[5].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[5].info.title %></div>
                    <div class="song-artist"><% results.banpicks[5].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[4]">
                    <div class="picking-text">Banning</div>
                </div>
            </div>
            <div class="banpick-7"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[6].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[6]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[6].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[6].info.title %></div>
                    <div class="song-artist"><% results.banpicks[6].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[5]">
                    <div class="picking-text">Picking</div>
                </div>
            </div>
            <div class="banpick-8"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[7].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[7]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[7].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[7].info.title %></div>
                    <div class="song-artist"><% results.banpicks[7].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[6]">
                    <div class="picking-text">Picking</div>
                </div>
            </div>
        </div>
        <div class="team1-main" v-if="results.team1">
            <div class="team1-req02 red-b"></div>
            <div class="team1-req01 red-b"></div>
            <div class="team1-avatar" style="background-image:url(http://omthpl.varkaria.tech/team_flag/{{ match_data['team1']['id'] }})"></div>
            <div class="team1-name-block">
                <div class="team1-name red-t"><% results.team1.full_name %></div>
            </div>
            <div class="scores">
                <div class="score-circle {% if match_data['score'][0] >= 1 %} pop{% endif %}"></div>
                <div class="score-circle {% if match_data['score'][0] >= 2 %} pop{% endif %}"></div>
                <div class="score-circle {% if match_data['score'][0] >= 3 %} pop{% endif %}"></div>
            </div>
        </div>
        <div class="team2-main" v-if="results.team2">
            <div class="team2-req02 blue-b"></div>
            <div class="team2-req01 blue-b"></div>
            <div class="team2-avatar" style="background-image:url(http://omthpl.varkaria.tech/team_flag/{{ match_data['team2']['id'] }})"></div>
            <div class="team2-name-block">
                <div class="team2-name blue-t"><% results.team2.full_name %></div>
            </div>
            <div class="scores">
                <div class="score-circle {% if match_data['score'][1] >= 1 %} pop{% endif %}"></div>
                <div class="score-circle {% if match_data['score'][1] >= 2 %} pop{% endif %}"></div>
                <div class="score-circle {% if match_data['score'][1] >= 3 %} pop{% endif %}"></div>
            </div>
        </div>
        <div :class="`red-movable-block blue-b stage-${results.banpicks.length}`"></div>
        <div :class="`blue-movable-block red-b stage-${results.banpicks.length}`"></div>
        <div class="picker-text">
            <span class="picker-text-6" v-if='results.picker'>Team <% results.picker_t %></span> <span class="picker-text-5"><% results.status %></span>
            <span class="picker-text-6" v-else=''>Finished</span>
        </div>
        <section id="wave-background">
            <div class="wave"></div>
        </section>
    </div>
    <div class="fhe-mainFrame" v-else-if="results.reverse == 1">
        <div class="header">
            <div class="header-title"><% results.team1.full_name %> vs <% results.team2.full_name %></div>
            <div class="header-sub">Ban Pick Screen</div>
        </div>
        <div class="ban-elements">
            <div class="banpick-1"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[0].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[0].info != null">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[0].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[0].info.title %></div>
                    <div class="song-artist"><% results.banpicks[0].info.artist %></div>
                </div>
                <div v-else>
                    <div class="picking-text">Banning</div>
                </div>
            </div>
            <div class="banpick-2"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[1].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[1]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[1].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[1].info.title %></div>
                    <div class="song-artist"><% results.banpicks[1].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[0].info != null">
                    <div class="picking-text">Banning</div>
                </div>
            </div>
            <div class="banpick-3"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[2].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[2]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[2].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[2].info.title %></div>
                    <div class="song-artist"><% results.banpicks[2].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[1]">
                    <div class="picking-text">Picking</div>
                </div>
            </div>
            <div class="banpick-4"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[3].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[3]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[3].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[3].info.title %></div>
                    <div class="song-artist"><% results.banpicks[3].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[2]">
                    <div class="picking-text">Picking</div>
                </div>
            </div>
            <div class="banpick-5"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[4].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[4]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[4].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[4].info.title %></div>
                    <div class="song-artist"><% results.banpicks[4].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[3]">
                    <div class="picking-text">Banning</div>
                </div>
            </div>
            <div class="banpick-6"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[5].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[5]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[5].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[5].info.title %></div>
                    <div class="song-artist"><% results.banpicks[5].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[4]">
                    <div class="picking-text">Banning</div>
                </div>
            </div>
            <div class="banpick-7"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[6].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[6]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[6].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[6].info.title %></div>
                    <div class="song-artist"><% results.banpicks[6].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[5]">
                    <div class="picking-text">Picking</div>
                </div>
            </div>
            <div class="banpick-8"
            :style="'background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://assets.ppy.sh/beatmaps/'+ results.banpicks[7].info.beatmapset_id +'/covers/cover.jpg);'">
                <div v-if="results.banpicks[7]">
                    <div class="mods-block">
                        <div class="mods-text"><% results.banpicks[7].mods %></div>
                    </div>
                    <div class="song-title"><% results.banpicks[7].info.title %></div>
                    <div class="song-artist"><% results.banpicks[7].info.artist %></div>
                </div>
                <div v-else-if="results.banpicks[6]">
                    <div class="picking-text">Picking</div>
                </div>
            </div>
        </div>
        <div class="team1-main" v-if="results.team2">
            <div class="team1-req02 red-b"></div>
            <div class="team1-req01 red-b"></div>
            <div class="team1-avatar" style="background-image:url(http://omthpl.varkaria.tech/team_flag/{{ match_data['team2']['id'] }})"></div>
            <div class="team1-name-block">
                <div class="team1-name red-t"><% results.team2.full_name %></div>
            </div>
            <div class="scores">
                <div class="score-circle {% if match_data['score'][1] >= 1 %} pop{% endif %}"></div>
                <div class="score-circle {% if match_data['score'][1] >= 2 %} pop{% endif %}"></div>
                <div class="score-circle {% if match_data['score'][1] >= 3 %} pop{% endif %}"></div>
            </div>
        </div>
        <div class="team2-main" v-if="results.team1">
            <div class="team2-req02 blue-b"></div>
            <div class="team2-req01 blue-b"></div>
            <div class="team2-avatar" style="background-image:url(http://omthpl.varkaria.tech/team_flag/{{ match_data['team1']['id'] }})"></div>
            <div class="team2-name-block">
                <div class="team2-name blue-t"><% results.team1.full_name %></div>
            </div>
            <div class="scores">
                <div class="score-circle {% if match_data['score'][0] >= 1 %} pop{% endif %}"></div>
                <div class="score-circle {% if match_data['score'][0] >= 2 %} pop{% endif %}"></div>
                <div class="score-circle {% if match_data['score'][0] >= 3 %} pop{% endif %}"></div>
            </div>
        </div>
        <div :class="`red-movable-block blue-b stage-${results.banpicks.length}`"></div>
        <div :class="`blue-movable-block red-b stage-${results.banpicks.length}`"></div>
        <div class="picker-text">
            <span class="picker-text-6" v-if='results.picker'>Team <% results.picker_t %></span> <span class="picker-text-5"><% results.status %></span>
            <span class="picker-text-6" v-else=''>Finished</span>
        </div>
        <section id="wave-background">
            <div class="wave"></div>
        </section>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    const socket = io('/pickban');

    new Vue({
        el: '#app',
        delimiters: ["<%", "%>"],
        data: {
            results: {},
            userid: Number('{{ session.user_id }}'),
            setid: Number('{{ match_set }}'),
            once: 0
        },
        created: function () {
            userid = this.userid
            setid = this.setid
            socket.on('connect', msg => {
                socket.emit('ready', {userid, setid})
            })

            socket.on('disconnect', function () {
                socket.emit('ready', {userid, setid})
            });

            socket.on(`data_result_${setid}`, msg => {
                this.results = msg
            })

            socket.on(`new_result_${setid}`, msg => {
                this.results = msg
                this.once = 0
                console.log(msg)
            })
        },
        methods: {
            pickban(set, map, type) {
                this.once = 1
                socket.emit('pickban', { set, map, type })
            }
        }
    });
</script>
</html>