{% extends 'manager/base.html' %}
{% block title %}Home{% endblock title %}
{% block head %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}
{% block page_title %}
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-check" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" />
    <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" />
    <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" />
    <line x1="11" y1="6" x2="20" y2="6" />
    <line x1="11" y1="12" x2="20" y2="12" />
    <line x1="11" y1="18" x2="20" y2="18" />
</svg>
Dashboard:
{% endblock page_title %}
{% block content %}
<div class="row row-deck">
    <div class="col-md-6">
        <div class="card card-md align-items-center">
            <div class="card-header">
                <p class="text-2xl">Number of Applicants</p><br>
            </div>
            <div class="card-body">
                <p class="text-blue text-3xl">{{ players }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-md align-items-center">
            <div class="card-header">
                <p class="text-2xl">Registration Countdown</p>
            </div>
            <div class="card-body">
                <p class="text-3xl {{ colour }}">{{ time_delta }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row row-deck pt-8">
    <div class="col-md-16">
        <div class="card card-md align-items-center">
            <div class="card-header">
                <p class="text-2xl">Current Competition Process Progress</p><br>
            </div>
            <div class="card-body">
                <p class="text-3xl text-black">WIP</p>
            </div>
        </div>
    </div>
</div>
<div class="row row-deck pt-8">
    <div class="col-md-16">
        <div class="card card-md align-items-center">
            <div class="card-header">
                <p class="text-2xl">Overview of Recently Closed Sessions</p><br>
            </div>
            <div class="card-body">
                <p class="text-3xl text-black">WIP</p>
            </div>
        </div>
    </div>
</div>
<div class="row row-deck pt-8">
    <div class="col-md-6">
        <div class="card card-md align-items-center">
            <div class="card-header">
                <p class="text-2xl">Upcoming Session Overview</p><br>
            </div>
            <div class="card-body">
                <div class="flex flex-col">
                    <div class="flex flex-row justify-between items-center gap-x-24">
                        <img src="{{ team1_flag | flag_url }}" alt="" height="80" width="80">
                        <p class="text-2xl"><b>VS</b></p>
                        <img src="{{ team2_flag | flag_url }}" alt="" height="80" width="80">
                    </div>
                    <div class="flex flex-row justify-between items-center">
                        <p class="text-xl">{{ team1_name }}</p>
                        <p class="text-xl">{{ team2_name }}</p>
                    </div>
                    <div class="flex flex-row justify-center items-center pt-2">
                        <p class="text-lg"><b>{{ match_time }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-md align-items-center">
            <div class="card-header">
                <p class="text-2xl">Data Analysis</p><br>
            </div>
            <div class="card-body">
                <p class="text-3xl text-black">WIP</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}