{% extends 'manager/base.html' %}
{% block title %}Home{% endblock title %}
{% block page_title %}
OM{{ match[0].code }} | {{ match[0].team1.full_name }} vs {{ match[0].team2.full_name }}
{% endblock page_title %}
{% block content %}

<div class="row mb-3">
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">Please insert multiplayer link before using refree tools</h3>
        </div>
        <div class="card-body">
          <form action="/manager/match/update_mp/{{ id }}/" method="POST">
            <div class="form-group mb-3">
              <label class="form-label">Multiplayer Link</label>
              <div>
                <input type="name" name="mplink" class="form-control">
                <small class="form-hint">Example: https://osu.ppy.sh/community/matches/76889088</small>
              </div>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
</div>
{% endblock content %}