{% extends 'manager/base.html' %}
{% block title %}人員管理{% endblock title %}
{% block head %}
<style>
    .disabled-staff {
        display: none;
    }
</style>
{% endblock head %}
{% block actions %}
<button class="btn btn-primary add-staff-btn" data-bs-toggle="modal" data-bs-target="#staff-manager-modal">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    Add staff
</button>
<label class="form-selectgroup-item">
    <input type="checkbox" id="view-all" class="form-selectgroup-input">
    <span class="form-selectgroup-label">顯示已停用的Staff</span>
</label>
{% endblock actions %}
{% block content %}
<div class="card pt-0">
    <div class="table-responsive mb-0">
        <table class="table table-vcenter table-mobile-md card-table js-sort-table" id="main-table">
            <thead>
                <tr>
                    <th>Staff</th>
                    <th>Role</th>
                    <th>權限</th>
                    <th class="js-sort-none"></th>
                </tr>
            </thead>
            <tbody>
                {% for s in staff %}
                <tr {% if s.active == 0 %}class="disabled-staff" data-isdisable="on"{% endif %}>
                    <td>
                        <div class="d-flex py-1 align-items-center">
                            <span class="avatar me-2" style="background-image: url(https://a.ppy.sh/{{s.user_id}});"></span>
                            <div class="flex-fill">
                                <div class="font-weight-medium"><a href="https://osu.ppy.sh/u/{{s.user_id}}" class="text-reset">{{s.username}}</a></div>
                                <div class="text-muted">
                                    ID:<a class="text-reset mx-1">{{s.id}}</a>
                                    UID:<a class="text-reset ms-1">{{ s.user_id }}</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{ s.group_name }} ({{ s.group_thname }})</td>
                    <td>{{ s.privileges | privilege }}</td>
                    <td>
                        <div class="btn-list flex-nowrap">
                        {% if (s.user_id != cur_user.user_id) and (s.name != 'Host') and (s.name != 'Admin' ) %}
                            <button href="#" class="btn btn-outline-primary edit-staff-btn" data-bs-toggle="modal" data-bs-target="#staff-manager-modal" data-staff-id="{{s.user_id}}" data-staff-g="{{s.name}}" data-staff-p="{{s.privileges}}">
                                Edit
                            </button>
                            {% if s.active == 1 %}
                            <button class="btn btn-outline-danger disable-staff-btn" data-bs-toggle="modal" data-bs-target="#disable-staff" data-staff-id="{{s.user_id}}" data-staff-name="{{s.username}}">
                                Disable
                            </button>
                            {% else %}
                            <button class="btn btn-outline-success enable-staff-btn" data-staff-id="{{s.user_id}}">
                                Enable
                            </button>
                            {% endif %}
                        {% else %}
                            <button href="#" class="btn btn-outline-primary" disabled>
                                Edit
                            </button>
                            {% if s.active == 1 %}
                            <button class="btn btn-outline-danger" disabled>
                                Disable
                            </button>
                            {% else %}
                            <button class="btn btn-outline-success" disabled>
                                Enable
                            </button>
                            {% endif %}
                        {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade"  tabindex="-1" id="staff-manager-modal" aria-labelledby="staff-manager-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staff-manager-modal-label">Add Staff</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="staff-manager-form">
                        <input type="hidden" name="type" class="form-control" id="staff-manager-postype" value="add" required>
                        <div class="mb-3">
                            <label for="staff-manager-id">Osu User ID:</label>
                            <input type="text" name="id" class="form-control" id="staff-manager-id" autocomplete="off" pattern="\d+" required>
                        </div>
                        <div class="mb-3">
                            <label for="staff-manager-group">主職位:</label>
                            <select name="group" id="staff-manager-group" class="form-select" required>
                                <option value="1" style="display: none;">主辦</option>
                                <option value="2">管理員</option>
                                <option value="3">裁判</option>
                                <option value="4">賽評</option>
                                <option value="5">直播</option>
                                <option value="6">圖池</option>
                                <option value="7">美術</option>
                                <option value="8">測試員</option>
                                <option value="9">技術人員</option>
                                <option value="10" selected>工作人員</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="staff-manager-id">權限:</label>
                            <label class="form-check">
                                <input type="checkbox" value="1" id="checkbox-staff" class="form-check-input staff-checkbox" checked>
                                <span for="checkbox-staff" class="form-check-label">STAFF</span>
                            </label>
                            <label class="form-check">
                                <input type="checkbox" value="2" id="checkbox-referee" class="form-check-input staff-checkbox">
                                <span for="checkbox-referee" class="form-check-label">REFFEREE</span>
                            </label>
                            <label class="form-check">
                                <input type="checkbox" value="4" id="checkbox-commentator" class="form-check-input staff-checkbox">
                                <span for="checkbox-commentator" class="form-check-label">COMMENTATOR</span>
                            </label>
                            <label class="form-check">
                                <input type="checkbox" value="8" id="checkbox-srteamer" class="form-check-input staff-checkbox">
                                <span for="checkbox-srteamer" class="form-check-label">STREAMER</span>
                            </label>
                            <label class="form-check">
                                <input type="checkbox" value="16" id="checkbox-mappooler" class="form-check-input staff-checkbox">
                                <span for="checkbox-mappooler" class="form-check-label">MAPPOOLER</span>
                            </label>
                            <label class="form-check">
                                <input type="checkbox" value="32" id="checkbox-gfx" class="form-check-input staff-checkbox">
                                <span for="checkbox-gfx" class="form-check-label">GFX</span>
                            </label>
                            <label class="form-check">
                                <input type="checkbox" value="64" id="checkbox-admin" class="form-check-input staff-checkbox">
                                <span for="checkbox-admin" class="form-check-label">ADMIN</span>
                            </label>
                            <label class="form-check">
                                <input type="checkbox" value="128" id="checkbox-tester" class="form-check-input staff-checkbox">
                                <span for="checkbox-tester" class="form-check-label">TESTER</span>
                            </label>
                            <label class="form-check">
                                <input type="checkbox" value="256" id="checkbox-tech" class="form-check-input staff-checkbox">
                                <span for="checkbox-tech" class="form-check-label">TECH</span>
                            </label>
                            <label class="form-check" style="display: none;">
                                <input type="checkbox" value="512" id="checkbox-host" class="form-check-input staff-checkbox">
                                <span for="checkbox-host" class="form-check-label">HOST</span>
                            </label>
                            <input type="hidden" name="privileges" id="privileges" value="1">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="disable-staff" tabindex="-1" aria-labelledby="disable-staff-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="disable-staff-label">Disable Staff</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          你確定要停用 <span id="disable-staff-id"></span> 嗎?
        </div>
        <div class="modal-footer">
            <form method="POST">
                <input type="hidden" name="type" value="disable">
                <input type="hidden" name="id" id="disable-staff-id-input">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-danger">停用</button>
            </form>
        </div>
      </div>
    </div>
</div>

<form method="POST" id="enable-staff">
    <input type="hidden" name="type" value="enable">
    <input type="hidden" name="id" id="enable-staff-id-input">
    <button type="reset" style="display: none;"></button>
    <button type="submit" style="display: none;"></button>
</form>
{% endblock content %}
{% block script %}
<script>
    var checkboxStaff = document.getElementById('checkbox-staff');
    var checkboxReferee = document.getElementById('checkbox-referee');
    var checkboxCommentator = document.getElementById('checkbox-commentator');
    var checkboxSrteamer = document.getElementById('checkbox-srteamer');
    var checkboxMappooler = document.getElementById('checkbox-mappooler');
    var checkboxGFX = document.getElementById('checkbox-gfx');
    var checkboxAdmin = document.getElementById('checkbox-admin');
    var checkboxTester = document.getElementById('checkbox-tester');
    var checkboxTech = document.getElementById('checkbox-tech');
    var checkboxHost = document.getElementById('checkbox-host');
    var inputPrivileges = document.getElementById('privileges');
    
    var STAFF = {
        Staff : 1,
        Refferee : 2,
        Commentator : 4,
        Streamer : 8,
        Mappooler : 16,
        GFX : 32,
        Admin : 64,
        Tester : 128,
        Tech : 256,
        Host : 512
    }
    
    var GROUP = {
        Host : 1,
        Admin : 2,
        Referee : 3,
        Commentator : 4,
        Steamer : 5,
        Mappooler : 6,
        GFX : 7,
        Tester : 8,
        Tech : 9,
        Staff : 10
    }

    function getPrivilege( staff ) {
        var selected = [];
      
        // The perens are needed around the bitwise operation due to the
        // greater operator precedence of `===`
        if ( (staff & STAFF.Staff) === STAFF.Staff ) selected.push('Staff');
        if ( (staff & STAFF.Refferee) === STAFF.Refferee ) selected.push('Refferee');
        if ( (staff & STAFF.Commentator) === STAFF.Commentator ) selected.push('Commentator');
        if ( (staff & STAFF.Streamer) === STAFF.Streamer ) selected.push('Streamer');
        if ( (staff & STAFF.Mappooler) === STAFF.Mappooler ) selected.push('Mappooler');
        if ( (staff & STAFF.GFX) === STAFF.GFX ) selected.push('GFX');
        if ( (staff & STAFF.Admin) === STAFF.Admin ) selected.push('Admin');
        if ( (staff & STAFF.Tester) === STAFF.Tester ) selected.push('Tester');
        if ( (staff & STAFF.Tech) === STAFF.Tech ) selected.push('Tech');
        if ( (staff & STAFF.Host) === STAFF.Host ) selected.push('Host');
      
        return selected;
    };

    function setPrivilege( staff ) {
        // The perens are needed around the bitwise operation due to the
        // greater operator precedence of `===`
        $('.staff-checkbox:checked').click();
        if ( (staff & STAFF.Staff) === STAFF.Staff ) checkboxStaff.checked = true;
        if ( (staff & STAFF.Refferee) === STAFF.Refferee ) checkboxReferee.checked = true;
        if ( (staff & STAFF.Commentator) === STAFF.Commentator ) checkboxCommentator.checked = true;
        if ( (staff & STAFF.Streamer) === STAFF.Streamer ) checkboxSrteamer.checked = true;
        if ( (staff & STAFF.Mappooler) === STAFF.Mappooler ) checkboxMappooler.checked = true;
        if ( (staff & STAFF.GFX) === STAFF.GFX ) checkboxGFX.checked = true;
        if ( (staff & STAFF.Admin) === STAFF.Admin ) checkboxAdmin.checked = true;
        if ( (staff & STAFF.Tester) === STAFF.Tester ) checkboxTester.checked = true;
        if ( (staff & STAFF.Tech) === STAFF.Tech ) checkboxTech.checked = true;
        if ( (staff & STAFF.Host) === STAFF.Host ) checkboxHost.checked = true;
        setInputPrivileges();
        return;
    };

    function setInputPrivileges() {
        var checked_privileges = [].slice.call($('.staff-checkbox:checked'));
        enabled_privileges = 0;
        checked_privileges.map(function(element){
            enabled_privileges += Number(element.value);
        });

        inputPrivileges.value = enabled_privileges;
    };

    function selectChioces(id) {
    	return new Choices(el = document.getElementById(id), {
    		classNames: {
    			containerInner: el.className,
    			input: 'form-control',
    			inputCloned: 'form-control-sm',
    			listDropdown: 'dropdown-menu',
    			itemChoice: 'dropdown-item',
    			activeState: 'show',
    			selectedState: 'active',
    		},
    		shouldSort: false,
    		searchEnabled: false,
    	})
    }

    const staff_manager_group = selectChioces('staff-manager-group')

    $(document).ready(function(){
        $(document).on('keydown', 'form', function(event) { 
            return event.key != 'Enter';
        });

        $('.add-staff-btn').click(function(){
            $('#staff-manager-form')[0].reset();
            $('#staff-manager-postype').val('add');
            $('#staff-manager-modal-label').text('Add Staff');
            $('#staff-manager-id').attr('readonly', null);
        });

        $('.edit-staff-btn').click(function(){
            var id = $(this)[0].getAttribute('data-staff-id');
            var g = $(this)[0].getAttribute('data-staff-g');
            var p = $(this)[0].getAttribute('data-staff-p');
            $('#staff-manager-form')[0].reset();
            $('#staff-manager-postype').val('update');
            $('#staff-manager-modal-label').text('Edit Staff');
            $('#staff-manager-id').attr('readonly', true).val(id);
            staff_manager_group.setChoiceByValue(String(GROUP[g]));
            setPrivilege(Number(p));
        });

        $('.staff-checkbox').change(function(){
            var checked_privileges = [].slice.call($('.staff-checkbox:checked'));
            enabled_privileges = 0;
            checked_privileges.map(function(element){
                enabled_privileges += Number(element.value);
            });

            inputPrivileges.value = enabled_privileges;
        });
        
        $('#staff-manager-group').change(function(){
            var group = Number($(this).val())
            $('.staff-checkbox:checked').click();
            switch (group) {
                case GROUP.Host:
                    checkboxHost.checked = true;
                    break;
                case GROUP.Admin:
                    checkboxAdmin.checked = true;
                    break;
                case GROUP.Referee:
                    checkboxReferee.checked = true;
                    break;
                case GROUP.Commentator:
                    checkboxCommentator.checked = true;
                    break;    
                case GROUP.Steamer:
                    checkboxSrteamer.checked = true;
                    break;  
                case GROUP.Mappooler:
                    checkboxMappooler.checked = true;
                    break;  
                case GROUP.GFX:
                    checkboxGFX.checked = true;
                    break;  
                case GROUP.Tester:
                    checkboxTester.checked = true;
                    break;
                case GROUP.Tech:
                    checkboxTech.checked = true;
                    break; 
                case GROUP.Staff:
                    checkboxStaff.checked = true;
                    break; 
                default:
                    break;
            }
            setInputPrivileges();
        });

        $('.disable-staff-btn').click(function(){
            var user_id = $(this)[0].getAttribute('data-staff-id');
            var username = $(this)[0].getAttribute('data-staff-name');
            $('#disable-staff-id').text(username);
            $('#disable-staff-id-input').val(user_id);
        });

        $('.enable-staff-btn').click(function(){
            var user_id = $(this)[0].getAttribute('data-staff-id');
            $('#enable-staff-id-input').val(user_id);
            $('#enable-staff').submit();
        });

        $('#view-all').click(function(){
            var table, tr, i;
            table = document.getElementById("main-table");
            tr = table.getElementsByTagName("tr");
            for (i = 1; i < tr.length; i++) {
                var isdisable = tr[i].hasAttribute('data-isdisable');
                if (isdisable) {
                    tr[i].classList.toggle('disabled-staff');
                }
            }
        });
    });
</script>
{% endblock script %}