{% extends 'manager/base.html' %}
{% block title %}Home{% endblock title %} 
{% block head %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
{% endblock %} 
{% block page_title %}
Streamer Tools
{% endblock page_title %}
{% block content %}
        <ul class="text-black text-lg mt-10">
            <h1 class="text-3xl pb-5">Stream Elements</h1>
            <li><a href="/stream/greeting_cm">- greeting_commentator</a></li>
            <li><a href="/stream/greeting_host">- greeting_host</a></li>
            <li><a href="/stream/showcase">- showcase</a></li>
            <li><a href="/stream/match">- match</a></li>
        </ul>
        <ul class="text-black text-lg mt-10">
            <h1 class="text-3xl pb-5">JSON stuff</h1>
            <li><a href="/manager/stream/json/upload">- json upload</a></li>
            <li><a href="/manager/stream/json/download">- json download</a></li>
        </ul>
{% endblock %}