{% extends 'manager/base.html' %}
{% block title %}Team Management{% endblock title %}
{% block head %}
<style>
    .form-select-g {
        display: block;
        width: auto;
        padding: 0.4375rem 2.25rem 0.4375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.4285714;
        color: #232e3c;
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dadcde' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid #dadcde;
        border-radius: 4px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-select-g:focus {
        border-color: #90b5e2;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(32, 107, 196, 0.25);
    }

    .form-select-g[multiple],
    .form-select-g[size]:not([size="1"]) {
        padding-right: 0.75rem;
        background-image: none;
    }

    .form-select-g:disabled {
        color: #a0a6ae;
        background-color: #f0f2f6;
    }

    .form-select-g:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #232e3c;
    }
</style>
{% endblock head %}
{% block actions %}
<button class="btn btn-primary add-staff-btn" data-bs-toggle="modal" data-bs-target="#add-modal">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
        stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
    </svg>
    Add team
</button>
<label class="form-selectgroup-item">
    <input type="checkbox" id="view-all" class="form-selectgroup-input">
    <span class="form-selectgroup-label">Show failed teams</span>
</label>
{% endblock actions %}
{% block content %}
<div class="card">
    <div class="table-responsive mb-0">
        <table class="table card-table table-vcenter" id="main-table">
            <thead>
                <tr>
                    <th>Teams</th>
                    <th>Members</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for t in teams %}
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="avatar me-2"
                                style="background-image: url({{ t.flag_name | flag_url }});"></span>
                            <div class="flex-fill">
                                <div class="font-weight-medium">{{ t.full_name }}</div>
                                <div class="text-muted">{{ t.acronym }}</div>
                            </div>
                        </div>
                    </td>
                    <td class="w-50">
                        <div class="d-none d-sm-block text-nowrap">
                            {% if t.players %}
                            {% for p in t.players %}
                            <a class="avatar{% if p.leader == 1 %} border border-warning{% endif %}" style="background-image: url(https://a.ppy.sh/{{p.user_id}})" href="https://osu.ppy.sh/u/{{p.user_id}}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{{p.username}}"></a>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="d-sm-none">
                            {% if t.players %}<span class="avatar">+{{ t.players | length }}</span>{% endif %}
                        </div>
                    </td>
                    <td>
                        <span class="text-green">PASS</span>
                    </td>
                    <td>
                        <div class="text-end">
                            <button type="button" class="btn dropdown-toggle align-text-top" id="menu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-adjustments-horizontal" width="44"
                                        height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <circle cx="14" cy="6" r="2" />
                                        <line x1="4" y1="6" x2="12" y2="6" />
                                        <line x1="16" y1="6" x2="20" y2="6" />
                                        <circle cx="8" cy="12" r="2" />
                                        <line x1="4" y1="12" x2="6" y2="12" />
                                        <line x1="10" y1="12" x2="20" y2="12" />
                                        <circle cx="17" cy="18" r="2" />
                                        <line x1="4" y1="18" x2="15" y2="18" />
                                        <line x1="19" y1="18" x2="20" y2="18" />
                                    </svg>
                                </span>
                                <span>
                                    Options
                                </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menu">
                                <li>
                                    <button class="dropdown-item ubtn" data-bs-toggle="modal"
                                        data-bs-target="#update-modal" data-id="{{ t.id }}">Edit</button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-danger dbtn" data-bs-toggle="modal"
                                        data-bs-target="#del-modal" data-id="{{ t.id }}">Delete</button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal modal-blur fade" id="add-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">Add Team</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="add-form" autocomplete="off" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="a-id">
                    <div class="mb-3">
                        <label class="form-label required">Team name</label>
                        <input type="text" class="form-control" id="a-fullname" name="full_name" maxlength="50"
                            placeholder="Full name of team" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Short name</label>
                        <input type="text" class="form-control" id="a-acronym" name="acronym"
                        placeholder="Just 3 words of team">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Flags / Avatars</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="a-flagname" name="a_flag_name"
                                aria-label="Text input with dropdown button" type="image/png">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label vcenter">Team members<a class="btn btn-sm btn-icon"
                                id="add-player-item-add">+</a></label>
                        <div id="a-player-aria"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" form="add-form" class="btn me-auto" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="add-form" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="update-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">Edit Team</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="spinner" class="alert" style="display: none;">
                <div class="spinner-border spinner-border-sm" role="status"></div> Loading...
            </div>
            <div class="modal-body">
                <form action="" method="post" id="update-form" autocomplete="off">
                    <input type="hidden" name="id" id="u-id">
                    <div class="mb-3">
                        <label class="form-label required">Team name</label>
                        <input type="text" class="form-control" id="u-fullname" name="full_name" maxlength="50"
                            placeholder="full_name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Short name</label>
                        <input type="text" class="form-control" id="u-acronym" name="acronym">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Flags / Avatars</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="u-flagname" name="flag_name"
                                aria-label="Text input with dropdown button" disabled>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label vcenter">Team members<a class="btn btn-sm btn-icon"
                                id="add-player-item-update">+</a></label>
                        <div id="u-player-aria"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" form="update-form" class="btn me-auto" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="update-form" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="del-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-alert-triangle mb-2 text-danger icon-lg" width="44" height="44"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 9v2m0 4v.01" />
                    <path
                        d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
                </svg>
                <h3>Are you sure?</h3>
                <div class="text-muted">
                    Are you sure you want to delete <span id="del-name"></span> (ID:<span id="del-id"></span>) this team?<br>
                    This process will be unrecoverable!
                </div>
                <form action="" method="post" id="del-form"></form>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-white w-100" data-bs-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col">
                            <button type="submit" id="del-submit" form="del-form" class="btn btn-danger w-100"
                                disabled>Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    {{ teams | tojson }}
</script>
<script>
    $(".dbtn").click(function () {
        var id = $(this).data('id');
        $.getJSON(`/api/teams/${id}/`).done(function (data) {
            $("#del-name").text(data.full_name);
            $("#del-id").text(data.id);
            $("#del-form")[0].action = `./${id}/delete`;
            $("#del-submit").removeAttr('disabled');
        });
    });

    $(".ubtn").click(function () {
        $("#spinner").show();
        var id = $(this).data('id');
        $("#update-form")[0].action = `./${id}/update`;
        $.getJSON(`/api/teams/${id}/`)
            .done(function (data) {
                $("#u-id").val(data.id);
                $("#u-fullname").val(data.full_name);
                $("#u-acronym").val(data.acronym);

                for (i in data.players) {
                    var isleader = data.players[i].leader == 1 ? true : false
                    $("#u-player-aria").append(createPlayerItem(data.players[i].user_id, data.players[i].username, isleader));
                }
            })
            .always(function () {
                $("#spinner").hide();
            });
    });

    $(".add-staff-btn").click(function () {
        $("#add-form")[0].action = `./add`;
    });
    
    $("#a-player-aria").on("click", "#del-player-list-btn", function () {
        $(this).parent().remove();
    });

    $("#a-player-aria").on("change", "input[name='player[]']", function () {
        var user_id = $(this).val();
        var pi_name = $(this).parent().children(".pinput-username");
        var pi_avat = $(this).parent().children(".pinput-avatar");
        var pi_isle = $(this).parent().children(".pinput-isleader").children(".pinput-isleader");
        var pi_usid = $(this).parent().children(".pinput-userid");
        pi_name.text('Loading...');
        $.getJSON(`/api/web/get_user?u=${user_id}`,
            function (data) {
                pi_name.text(data[0].username);
                pi_avat.css("background-image", `url(https://a.ppy.sh/${data[0].user_id})`);
                pi_isle.attr("value", data[0].user_id);
                pi_usid.val(data[0].user_id);
            }).fail(function () {
                pi_name.text("Unknown");
                pi_avat.css("background-image", null);
                pi_isle.attr("value", null);
                pi_isle.attr("checked", null);
            });
    });

    $("#update-modal").on("hidden.bs.modal", function () {
        $("#u-player-aria").html(null);
        $("#update-form input").val('')
    });

    $("#u-player-aria").on("click", "#del-player-list-btn", function () {
        $(this).parent().remove();
    });

    $("#u-player-aria").on("change", "input[name='player[]']", function () {
        var user_id = $(this).val();
        var pi_name = $(this).parent().children(".pinput-username");
        var pi_avat = $(this).parent().children(".pinput-avatar");
        var pi_isle = $(this).parent().children(".pinput-isleader").children(".pinput-isleader");
        var pi_usid = $(this).parent().children(".pinput-userid");
        pi_name.text('Loading...');
        $.getJSON(`/api/web/get_user?u=${user_id}`,
            function (data) {
                pi_name.text(data[0].username);
                pi_avat.css("background-image", `url(https://a.ppy.sh/${data[0].user_id})`);
                pi_isle.attr("value", data[0].user_id);
                pi_usid.val(data[0].user_id);
            }).fail(function () {
                pi_name.text("Unknown");
                pi_avat.css("background-image", null);
                pi_isle.attr("value", null);
                pi_isle.attr("checked", null);
            });
    });

    var playerItem = `
    <div class="input-group mb-2">
        <span class="avatar input-group-text pinput-avatar"></span>
        <span class="input-group-text form-control pinput-username">Unknown</span>
        <input type="text" name="player[]" class="form-control pinput-userid" placeholder="id or name">
        <span class="input-group-text pinput-isleader">
            <input class="form-check-input pinput-isleader" name="leader" type="radio"> Leader
        </span>
        <a class="btn btn-outline-danger" id="del-player-list-btn">X</a>
    </div>`

    $("#add-player-item-add").click(function () {
        $("#a-player-aria").append(playerItem);
    });

    $("#add-player-item-update").click(function () {
        $("#u-player-aria").append(playerItem);
    });

    function createPlayerItem(user_id, username, isLeader = false) {
        var el = $(playerItem)
        el.children(".pinput-avatar").css("background-image", `url(https://a.ppy.sh/${user_id})`);
        el.children(".pinput-username").text(username);
        el.children(".pinput-userid").val(user_id);
        el.children(".pinput-isleader").children(".pinput-isleader").val(user_id);
        if (isLeader) {
            el.children(".pinput-isleader").children(".pinput-isleader").attr("checked", "true");
        }
        return el
    }
</script>
{% endblock script %}