{% extends '/manager/base.html' %}
{% block title %}JSON Upload{% endblock %}
{% block head %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<style>
    img {
        width: 5vh;
        height: 5vh;
}
    button {
        background-color: #232e3c;
        transform: scale(1);
        transition: background-color ease-in-out 0.3s;
        transition: color ease-in-out 0.3s;
        transition: transform .2s ease-in-out;
}
    button:hover {
        color: white;
        background-color: #19202b;
        transform: scale(1.05);
        transition: background-color ease-in-out 0.3s;
        transition: color ease-in-out 0.3s;
        transition: transform .2s ease-in-out;
}
    .file {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
}
    .file-name {
        position: absolute;
        bottom: -30px;
        left: -10px;
        font-size: 0.85rem;
        color: rgb(90, 90, 90);
        width: 100vh;
}
    .file-input label {
        display: block;
        position: relative;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        background-color: #232e3c;
        box-shadow: 0 4px 7px #19202b;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transform: scale(1);
        transition: background-color ease-in-out 0.3s;
        transition: color ease-in-out 0.3s;
        transition: transform .2s ease-in-out;
}
    input:hover + label, input:focus + label {
        transform: scale(1.05);
        color: white;
        background-color: #19202b;
        transition: background-color ease-in-out 0.3s;
        transition: color ease-in-out 0.3s;
        transition: transform .2s ease-in-out;
}
    input:focus + label {
        outline: 1px solid #19202b;
        outline: -webkit-focus-ring-color auto 2px;
}
</style>
<section id="upload" class="flex justify-center items-center py-5">
    <form class="flex flex-col space-y-8 justify-center items-center" action="/manager/stream/json/upload" method="POST" enctype="multipart/form-data">
        <h2 class="text-3xl text-black">{{ error }}</h2>
        <div class="file-input">
            <input name="file" type="file" id="file" class="file">
            <label for="file" style="outline: none;">
                Select file
                <p class="file-name"></p>
            </label>
        </div>
        <div class="pt-2">
            <button class="text-white font-bold py-2 px-4 rounded-full" style="outline: none;" type="submit">Upload</button>
        </div>
    </form>
</section>
<script>
    const file = document.querySelector('#file');
    file.addEventListener('change', (e) => {
        const [file] = e.target.files;
        const { name: fileName, size } = file;
        const fileSize = (size / 1000).toFixed(2);
        const fileNameAndSize = `${fileName} - ${fileSize}KB`;
        document.querySelector('.file-name').textContent = fileNameAndSize;
    });
</script>
{% endblock %}