@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(44, 45, 44);
    overflow-x: hidden;
}

nav {
    background-color: rgb(38, 38, 38);
}

#mappool {
    background-color: rgb(38, 38, 38);
}

#picking {
    animation-name: stroke-fade-pick;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pick-still {
    0% {
        border: 5px solid rgb(56, 65, 180);
    }
    100% {
        border: 5px solid rgb(56, 65, 180);
    }
}

@keyframes stroke-fade-pick {
    0% {
        border: 5px solid rgb(56, 65, 180, 0);
    }
    100% {
        border: 5px solid rgb(56, 65, 180);
    }
}

#baning {
    animation-name: stroke-fade-ban;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ban-still {
    0% {
        border: 5px solid rgb(172, 33, 33);
    }
    100% {
        border: 5px solid rgb(172, 33, 33);
    }
}

@keyframes stroke-fade-ban {
    0% {
        border: 5px solid rgb(172, 33, 33, 0);
    }
    100% {
        border: 5px solid rgb(172, 33, 33);
    }
}

.map-card {
    background-position: center !important;
    background-size: cover !important;
    height: 90px !important;
    border: 0px;
    user-select: none;
}

.mod-icon {
    position: absolute;
    pointer-events: none;
    right: 10px;
    width: 60px;
    height: 60px;
}

.card {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))
}

a {
    color: white
}

.dark-background {
    background-color: rgb(0, 0, 0, 0.4);
    transition: background-color 160ms;
}

.dark-background:hover {
    background-color: rgb(0, 0, 0, 0.6);
}

.map-card {
    background-position: center !important;
    background-size: cover !important;
    height: 90px !important;
    border: 0px;
    user-select: none;
}

.mod-icon {
    position: absolute;
    pointer-events: none;
    right: 10px;
    width: 60px;
    height: 60px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border-radius: 4px;
}

.card-title {
    margin-bottom: 0.5rem;
    color: white
}

.card-text:last-child {
    margin-bottom: 0;
    color: white
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: 3px;
}

.w-1\/9 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.111111%;
}

.b-block {
    width: 7vw;
    height: 20vh;
    background: #00000075;
    border-radius: 18px;
    transition: 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-picture {
    height: 12vh;
    border-radius: 56px;
}

@media only screen and (max-width: 1140px) {
    .blank-block {
        display: none !important;
    }
    .w-1\/9 {
        width: 19.111111%;
    }
    .b-block {
        width: 14vw;
        height: 22vh;
        background: #00000075;
        border-radius: 18px;
    }
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.mods {
    font-size: 34px;
    padding: 8px;
    background: #00000094;
    border-radius: 22px;
}

.avatar {
    width: 42px;
    border-radius: 10px;
}