<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>preduction</title>
    <link rel="stylesheet" href="/static/css/stream/compre-point.css">
    <link rel="stylesheet" href="/static/css/stream/background.css">
    <link rel="stylesheet" href="/static/css/stream/fonts/stylesheet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
</head>

<body class="fhe-body">
    <div class="fhe-mainFrame">
        <a class="c_pointd6 gap">{{ s[2]['a'] }} Points</a>
        <a class="c_pointd5 gap">{{ s[5]['a'] }} Points</a>
        <a class="c_pointd4 gap">{{ s[3]['a'] }} Points</a>
        <a class="c_pointd3 gap">{{ s[7]['a'] }} Points</a>
        <a class="c_pointd2 gap">{{ s[6]['a'] }} Points</a>
        <a class="c_pointd1 gap">{{ s[4]['a'] }} Points</a>
        <a class="c_Infographic_d"></a>
        <section id="wave-background">
            <div class="wave"></div>
        </section>
        <div class="song-display">
            <div class="title">Now Playing</div>
            <div class="song-data">...</div>
        </div>
    </div>
    <script src="/static/js/stream/background.js"></script>
</body>

</html>