bidict==0.21.2
cachelib==0.1.1   
certifi==2021.5.30
cffi==1.14.5      
chardet==4.0.0    
click==8.0.1      
colorama==0.4.4   
commonmark==0.9.1 
cryptography==3.4.7
dnspython==1.16.0
eventlet==0.31.0
Flask==2.0.1
Flask-SocketIO==5.1.0
gevent==21.1.2
greenlet==1.1.0
h11==0.12.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
markdown2==2.4.0
MarkupSafe==2.0.1
monotonic==1.5
Pillow==8.2.0
pycparser==2.20
Pygments==2.9.0
PyMySQL==1.0.2
python-engineio==4.2.0
python-socketio==5.3.0
requests==2.25.1
rich==10.2.2
six==1.16.0
urllib3==1.26.5
Werkzeug==2.0.1
wsproto==1.0.0
zope.event==4.5.0
zope.interface==5.4.0
numpy==1.20.3
pytz==2017.3
python-dateutil==2.7.3
pandas==1.2.4