<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Varkaria Designer</title>
    <link rel="stylesheet" href="/static/css/stream/fonts/stylesheet.css">
    <link rel="stylesheet" href="/static/css/stream/countdown.css">
</head>

<body class="varkaria-body">
    <div class="varkaria-mainFrame">
        <div class="started">
            <div class="logo">
                <div class="coffeelogo"></div>
                <div class="logotitle">
                    <div class="osutext">osu!mania Thailand</div>
                    <div class="thailandtext">Pro League 2021</div>
                </div>
            </div>
            <div class="console">This Tournament Hosted by <b>HowtoplayLN</b></div>
        </div>
        <div class="countdown">
            <div class="count-number" id="timer">Loading..</div>
        </div>
        <div class="now_playing">
            <div class="now_title">Now playing</div>
            <div class="song_data" id="song"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="/static/js/stream/countdown.js"></script>
</body>

</html>