<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Varkaria Designer</title>
    <link rel="stylesheet" href="/static/css/stream/fonts/stylesheet.css">
    <link rel="stylesheet" href="/static/css/stream/countdown.css">
</head>

<body class="varkaria-body">
    <div class="varkaria-mainFrame">
        <div class="countdown">
            <div class="count-number" id="timer">Loading..</div>
        </div>
        <div class="now_playing">
            <div class="now_title">Now playing</div>
            <div class="song_data" id="song"></div>
        </div>
        <video id="myVideo" width="1280" height="720">
            <source src="/static/img/stream/countdown.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
          
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script>// Set the date we're counting down to
        var countDownDate = new Date("{{ date }}").getTime();
    </script>
    <script src="/static/js/stream/countdown.js"></script>
</body>

</html>