<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMTHPL2021 | Greeting</title>
    <style>
        * {
            margin:0;
            overflow:hidden !important
        }

        .logo {
            position: absolute;
            width: 307px;
            height: 275px;
            left: 898px;
            top: 245px;
            background: url(/static/img/stream/logo.png);
        }
    </style>
</head>
<body>
    <iframe src="http://127.0.0.1:5000/stream/bg?songpos=left&t=Mappool%20Showcase&s=Qualifer%20Round" 
    frameBorder="0" width="1366" height="768"></iframe>

    <div class="logo"></div>
</body>
</html>