<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMTHPL | Greeting</title>
    
</head>
<body>
    <div class="background"></div>
</body>
<style>
    body {
        background:transparent;
        margin:0
    }

    .background {
        width:1366px;
        height:768px;
        background: url(/static/img/stream/webcam.png)
    }
</style>
</html>