<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>overlay</title>
    <link rel="stylesheet" href="/static/css/stream/ingame-match.css">
    <link rel="stylesheet" href="/static/css/stream/fonts/stylesheet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body class="fhe-body">
    <div class="fhe-mainFrame">
        <div class="p1">
            <div class="ur-c">
                <div class="ud" id="ur">28</div>
                <div class="ut">Unstable Rate</div>
            </div>
            <div class="judge">
                <div class="ju01">
                    <div class="t01">350</div>
                    <div class="j01" id="h350">0</div>
                </div>
                <div class="ju02">
                    <div class="t02">300</div>
                    <div class="j02" id="h300">0</div>
                </div>
                <div class="ju03">
                    <div class="t03">200</div>
                    <div class="j03" id="h200">0</div>
                </div>
                <div class="ju04">
                    <div class="t04">100</div>
                    <div class="j04" id="h100">0</div>
                </div>
                <div class="ju05">
                    <div class="t05">50</div>
                    <div class="j05" id="h50">0</div>
                </div>
                <div class="ju06">
                    <div class="t06">oof</div>
                    <div class="j06" id="h0">0</div>
                </div>
            </div>
            <div class="noti-v">
                <div class="noti-bg">Got First Break</div>
                <div class="noti-p" id="uname"></div>
                <div class="noti-warn">Got first break</div>
            </div>
        </div>
        <div class="p2">
            <div class="ur-c">
                <div class="ud" id="ur">28</div>
                <div class="ut">Unstable Rate</div>
            </div>
            <div class="judge">
                <div class="ju01">
                    <div class="t01">350</div>
                    <div class="j01" id="h350">0</div>
                </div>
                <div class="ju02">
                    <div class="t02">300</div>
                    <div class="j02" id="h300">0</div>
                </div>
                <div class="ju03">
                    <div class="t03">200</div>
                    <div class="j03" id="h200">0</div>
                </div>
                <div class="ju04">
                    <div class="t04">100</div>
                    <div class="j04" id="h100">0</div>
                </div>
                <div class="ju05">
                    <div class="t05">50</div>
                    <div class="j05" id="h50">0</div>
                </div>
                <div class="ju06">
                    <div class="t06">oof</div>
                    <div class="j06" id="h0">0</div>
                </div>
            </div>
            <div class="noti-v">
                <div class="noti-bg">Got First Break</div>
                <div class="noti-p" id="uname"></div>
                <div class="noti-warn">Got first break</div>
            </div>
        </div>
    </div>
    <script src="/static/js/stream/ingame.js"></script>
</body>

</html>