{% extends '/stream/base.html' %}
{% block title %}JSON Download{% endblock %}
{% block content %}
<style>
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(44, 45, 44);
        overflow: hidden;
    }

    body {
        font-family: 'Varela Round'
    }

    nav {
        background-color: rgb(38, 38, 38);
    }

    img {
        width: 5vh;
        height: 5vh;
    }
    .json-file {
        transform: scale(1);
        transition: transform .2 ease-in-out;
    }
    .json-file:hover {
        transform: scale(1.05);
        transition: transform .2 ease-in-out;
    }
</style>
<nav class="mx-auto px-8">
    <div class="flex h-14 justify-between items-center">
        <div class="flex-row justify-start text-white text-3xl">
            <a href="/stream/json/download">JSON Download</a>
        </div>
        <div class="flex-row justify-end text-white text-3xl">
            <div class='flex gap-4 items-center'>
                <a href="https://osu.ppy.sh/u/{{ session.user_id }}" target="_blank"><img src="https://a.ppy.sh/{{ session.user_id }}" class="avatar"></a>
                <a href="https://osu.ppy.sh/u/{{ session.user_id }}" target="_blank" class="text-xl right-16 top-4">{{ session.username }}</a>
            </div>
        </div>
    </div>
</nav>
<section id="file-list">
    <div class="pt-5 flex flex-col">
        <div class="flex justify-center items-center mx-auto">
            <h1 class="text-3xl text-white">{{ error }}</h1>
        </div>
        <div class="grid grid-cols-6 auto-cols-auto gap-1 gap-y-10 items-center">
            {% for filename in list_brackets %}
                <a class="json-file text-white text-lg pl-5" href="/stream/json/download/{{ filename }}" target="_blank">{{ filename }}</a>
            {% endfor %}
        </div>
    </div>
</section>
<footer>
    <div class="flex flex-row justify-center items-center text-white">
        <div class="py-3">
            @ 2021 Made by <b>Varkaria & Gusbell</b>
        </div>
    </div>
</footer>
{% endblock %}