{% extends '/stream/base.html' %}
{% block title %}JSON Upload{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<style>
    html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(44, 45, 44);
    overflow: hidden;
}
    body {
        font-family: 'Varela Round'
    }
    nav {
        background-color: rgb(38, 38, 38);
}
    img {
        width: 5vh;
        height: 5vh;
}
</style>
<div id="main">
    <nav class="mx-auto px-8">
        <div class="flex h-14 justify-between items-center">
            <div class="flex-row justify-start text-white text-3xl">
                <a href="/stream/json">JSON Uploader</a>
            </div>
            <div class="flex-row justify-end text-white text-3xl">
                <div class='flex gap-4 items-center'>
                    <img src="https://a.ppy.sh/{{ session.user_id }}" class="avatar">
                    <a href="/" class="text-xl right-16 top-4">{{ session.username }}</a>
                </div>
            </div>
        </div>
    </nav>
    <section id="upload" class="flex h-screen justify-center items-center">
        <form class="flex flex-col space-y-8 justify-center items-center" action="/stream/json/upload" method="POST" enctype="multipart/form-data">
            <input class="text-white" type="file" name="file">
            <button class="bg-white hover:text-white hover:bg-black text-black font-bold py-2 px-4 rounded-full" style="outline: none;" type="submit">Upload</button>
            <h2 class="text-3xl text-white">{{ error }}</h2>
        </form>
    </section>
</div>
{% endblock %}