{% extends '/stream/base.html' %}
{% block title %}Showcase{% endblock %}
{% block header %}
<link rel="stylesheet" href="/static/css/stream/fonts/stylesheet.css">
<link rel="stylesheet" href="/static/css/stream/showcase.css">
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
{% endblock %}

{% block content %}
<div class="title-sub">
    <div class="titles">
        <div class="title">Mappool Showcase</div>
        <div class="subtitle">Playoff Round</div>
    </div>
    <img src="/static/img/stream/logo_notitle.png" class="logo">
</div>
<section id="wave-background">
    <div class="wave"></div>
</section>

<div class="beatmap-box remove-me" id="remove">
    <div class="header">
        <div class="h-info">Beatmap infomation</div>
    </div>

    <img class="beatmap-img" id="bimg">

    <table class="table-data">
        <tbody>
            <tr>
                <td>Title</td>
                <td class="right" id="title"></td>
            </tr>
            <tr>
                <td>Artist</td>
                <td class="right" id="artist"></td>
            </tr>
            <tr>
                <td>Mapper</td>
                <td class="right" id="mapper"></td>
            </tr>
            <tr>
                <td>Difficulity</td>
                <td class="right" id="diff"></td>
            </tr>
            <tr>
                <td>Stars</td>
                <td class="right" id="star"></td>
            </tr>
            <tr>
                <td>OD</td>
                <td class="right" id="od"></td>
            </tr>
            <tr>
                <td>HP</td>
                <td class="right" id="hp"></td>
            </tr>
            <tr>
                <td>BPM</td>
                <td class="right" id="bpm"></td>
            </tr>
        </tbody>
    </table>


</div>
{% endblock %}