{% extends '/stream/base.html' %}
{% block title %}Showcase{% endblock %}
{% block header %}
<link rel="stylesheet" href="/static/css/stream/fonts/stylesheet.css">
<link rel="stylesheet" href="/static/css/stream/showcase.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
{% endblock %}

{% block content %}
<div class="title-sub">
    <div class="titles">
        <div class="title">Mappool Showcase</div>
        <div class="subtitle">Qualifiers Round</div>
    </div>
    <img src="/static/img/stream/logo_notitle.png" class="logo">
</div>
<section id="wave-background">
    <div class="wave"></div>
</section>
<div class="song-list" id="songs"></div>
<script src="/static/js/stream/showcase.js"></script>
{% endblock %}

