{% extends '/stream/base.html' %}
{% block title %}Lists{% endblock %}
{% block content %}
<style>
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(44, 45, 44);
        overflow: hidden;
    }
    body {
        font-family: 'Varela Round'
    }
    nav {
        background-color: rgb(38, 38, 38);
    }
    img {
        width: 5vh;
        height: 5vh;
    }
</style>
<nav class="mx-auto px-8">
    <div class="flex h-14 justify-between items-center">
        <div class="flex-row justify-start text-white text-3xl">
            <a href="/stream/">Streamer Tools</a>
        </div>
        <div class="flex-row justify-end text-white text-3xl">
            <div class='flex gap-4 items-center'>
                <img src="https://a.ppy.sh/{{ session.user_id }}" class="avatar">
                <a href="/" class="text-xl right-16 top-4">{{ session.username }}</a>
            </div>
        </div>
    </div>
</nav>
<section id="main" class="h-5/6">
    <div class="flex flex col justify-center space-x-32">
        <ul class="text-white text-lg mt-10">
            <h1 class="text-3xl pb-5">Stream Elements</h1>
            <li><a href="/stream/greeting_cm">- greeting_commentator</a></li>
            <li><a href="/stream/greeting_host">- greeting_host</a></li>
            <li><a href="/stream/showcase">- showcase</a></li>
            <li><a href="/stream/match">- match</a></li>
            <li><a href="/stream/">- ඞ</a></li>
        </ul>
        <ul class="text-white text-lg mt-10">
            <h1 class="text-3xl pb-5">JSON stuff</h1>
            <li><a href="/stream/json/upload">- json upload</a></li>
            <li><a href="/stream/json/download">- json download</a></li>
        </ul>
    </div>
</section>
<footer>
    <div class="flex flex-row justify-center items-center text-white">
        <div class="py-3">
            @ 2021 Made by <b>Varkaria & Gusbell</b>
        </div>
    </div>
</footer>
{% endblock %}