{% extends 'base.html' %}
{% block title %}Index{% endblock title %}
{% block styles %}
<style>
    footer {
        position: absolute;
        bottom: 0;
    }
    .main-block {
        padding: 0px 0px;
    }
</style>
{% endblock styles %}

{% block header %}

{% endblock header %}

{% block main %}
<div class="position-absolute top-50 start-50 translate-middle text-center">
    <div class="user-select-none">
        <img src="/static/img/logo.png" class="mb-2">
        <p>it's that a last time?</p>
    </div>
</div>
{% endblock main %}
