{% extends 'base.html' %}
{% block title %}Registered list{% endblock title %}
{% block main %}
<div class="row g-0 text-center">
    <div class="col-auto">
        <div style="min-width: 100px;">AVATAR</div>
    </div>
    <div class="col col-sm-5">
        PLAYER
    </div>
    <div class="col d-none d-sm-block">
        RANK
    </div>
    <div class="col d-none d-md-block">
        PP/BP
    </div>
    <div class="col d-none d-lg-block">
        ACC/PC
    </div>
</div>
{% for p in players %}
<div class="row bg-dark rounded p2 py-2 mb-2 text-nowrap">
    <div class="card bg-dark">
        <div class="row g-0">
            <div class="col-auto">
                <img src="https://a.ppy.sh/{{p.user_id}}" class="avatar rounded">
            </div>
            <div class="col col-sm-5">
                <div class="card-body">
                    <h3 class="card-title text-nowrap">{{p.username}}</h3>
                    <p class="card-text">
                        <a class="text-decoration-none" href="https://osu.ppy.sh/users/{{p.user_id}}"
                            target="_blank">UserPage</a> |
                        <a class="text-decoration-none" href="https://osustats.click/{{p.username}}"
                            target="_blank">Stats</a> |
                        <a class="text-decoration-none" href="http://osuskills.com/user/{{p.username}}"
                            target="_blank">Skills</a>
                    </p>
                </div>
            </div>
            <div class="col d-none d-sm-block" style="width: 152px;">
                <div class="card-body text-center">
                    <h3 class="card-title text-nowrap">#{{ p.info.pp_rank }}</h3>
                    <p class="card-text">{{ p.info.country }}: #{{ p.info.pp_country_rank }}</p>
                </div>
            </div>
            <div class="col d-none d-md-block" style="width: 152px;">
                <div class="card-body text-center">
                    <h3 class="card-title text-nowrap">{{ p.info.pp_raw | floatfix }} PP</h3>
                    <p class="card-text">
                        <a href="https://osu.ppy.sh/scores/osu/{{p.bp1.score_id}}" target="_blank"
                            class="link-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="" data-bs-original-title="Click me for details">
                            BP: {{p.bp1.pp | floatfix}} PP
                        </a>
                    </p>
                </div>
            </div>
            <div class="col d-none d-lg-block" style="width: 152px;">
                <div class="card-body text-center">
                    <h3 class="card-title text-nowrap">{{p.info.accuracy | floatfix }}%</h3>
                    <p class="card-text">PC: {{p.info.playcount}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock main %}

{% block scripts %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock scripts %}