{% extends 'base.html' %}
{% block title %}Rules{% endblock title %}
{% block main %}
รูปแบบการแข่งขัน
จำนวนผู้เล่นต่อทีม : 2 คน
ลักษณะการแข่งขัน : 1 ต่อ 1
ระบบการแข่งขัน : ระบบเก็บคะแนน หรือ League System

กฎทั่วไปของทัวร์นาเมนต์
- ผู้เข้าแข่งขันจะได้รับการตรวจสอบประวัติไอดี โดย osu!staff เพื่อคัดผู้เล่นที่เคยทำผิดกฎหลักของเกมในรอบ 12 เดือนออก และผู้ที่เคยมีประวัติการทำผิดกฎหลักของเกมในรอบ 12 เดือนที่ผ่านมา จะไม่อนุญาตให้ร่วมการแข่งขันในครั้งนี้
- การแข่งจะแข่งกันในห้อง multi player ในเกม โดยจะมีกรรมการ (Referee) เป็นผู้ควบคุมการแข่งขัน
- แมพที่ใช้แข่งและตารางการแข่งจะประกาศก่อนการแข่งขัน 1 สัปดาห์ โดยประกาศผ่าน Discord
- ผู้เข้าแข่งขันสามารถขอเลื่อนแข่งกันได้ในระยะเวลาที่กำหนด โดยต้องติดต่อผู้เล่นที่ได้แข่งด้วยก่อน แล้วค่อยทำเรื่องขอ staff ในภายหลัง
- ไม่อนุญาตสำหรับการทุจริตทุกประเภทตามที่กล่าวไว้แล้ว หากตรวจพบการทุจริตในเกม ทีมนั้นจะถูกแบนจากการแข่งขันทันที และจะถูกแบนไม่ให้เข้าร่วมการแข่งขันในทุกทัวร์นาเมนต์ที่ถูกจัดขึ้นโดยทีมงาน osu!mania Thailand Pro League
- mods ที่สามารถใช้ในการแข่งได้คือ No-Fail, Hidden, Fade-in, Flashlight และ Mirror
- ไม่อนุญาตให้ staff เข้าร่วมการแข่งขันในทุกกรณี ยกเว้น commentator ที่เป็นแขกรับเชิญ





กฎทั่วไปในการแข่งขัน
ตัวแทนผู้เล่นทั้งสองทีมส่งแมพ Warm up ให้ Referee โดย Warm up นั้นต้องมีขนาดไม่เกิน 10 MB และมีความยาวไม่เกิน 4 นาที และต้องไม่มีคอนเทนต์ที่ไม่เหมาะสม อย่างเช่น การคุกคามทางเพศ, การเมือง, การหมิ่นประมาท หรือเพลงที่ติดลิขสิทธิ์จนทำให้ช่องทางไลฟ์สตรีมเสียหาย แต่อย่างไรก็ตาม การ warm up นั้นขึ้นอยู่กับทีมว่าจะ warm up ในการแข่งขันหรือไม่
Referee ทำการเชิญผู้เล่นทั้งสองทีมเข้าสู่ห้องการแข่งขัน
ทำการเล่น warmup และดราฟท์แมพ หรือ ban แมพ
ทำการแข่งขัน จนกว่าจะได้ผู้ชนะ



















ระบบเซต (Set system)
ระบบเซต เป็นระบบการคำนวณคะแนนโดยใช้ “เซต” เป็นหลัก ซึ่งเซตจะเกิดจากการที่ทีมชนะในชุดการเล่นนั้น
วิธีการแข่งขันในระบบเซต
ผู้เล่นดราฟท์แมพที่จะใช้ในเซตแรก
ทำการแข่งขันในเซตแรกจนกว่าจะได้ผู้ชนะในเซต
กระทำข้อ 1 ถึงข้อ 2 ซ้ำจนกว่าจะได้ผู้ชนะในเกมนั้น หรือผลออกมาเสมอกัน โดยที่ยังเหลืออีก 1 เซตที่จะตัดสินผู้ชนะ
กรณีที่ผลออกมาเสมอกันในข้อ 3 ผู้เล่นจะต้องเล่นแมพ Match Tiebreaker เพื่อตัดสินผู้ชนะ
การนับแต้มของทีมจะนับโดยใช้สูตร เซตที่ได้ + 1 - minimum(เซตที่เสีย, 1)
แมพ Tiebreaker ในรูปแบบการแข่งขันนี้จะมี 2 ประเภท คือ
Set Tiebreaker : Tiebreaker ที่ใช้เล่นภายในเซตเมื่อคะแนนภายในเซตเท่ากัน และเหลืออีก 1 คะแนนที่จะใช้ตัดสิน
Match Tiebreaker : Tiebreaker ที่ใช้ในการตัดสินการแข่งขันเมื่อคะแนนเซตที่ได้เท่ากัน และเหลืออีก 1 เซตที่จะใช้ตัดสิน











การดราฟท์แมพ (Map Draft)
เป็นการเลือกชุดบีทแมพที่ใช้ในการแข่งขันในแต่ละเซตก่อนที่เซตนั้นจะเริ่ม
วิธีการดราฟท์แมพ
ผู้เล่นทีมเหย้าจะเริ่มทำการแบนก่อน ตามด้วยการแบนของผู้เล่นทีมเยือน
สลับกัน pick โดยเริ่มจากทีมเยือนก่อน จนกว่าแมพที่ถูกเลือกจะครบครึ่งหนึ่งของแมพที่จะต้องเลือกในการแข่งขันในเซต
ผู้เล่นทีมเยือนจะเริ่มการแบนหลังจากข้อ 2. เสร็จ แล้วตามด้วยการแบนของผู้เล่นทีมเยือน
สลับกัน pick โดยเริ่มจากทีมเหย้า จนกว่าแมพที่ถูกเลือกจะเท่ากับแมพที่จะต้องเลือกในการแข่งขันในเซต
แมพสุดท้ายในเซตจะเป็น Set Tiebreaker เสมอ
















การแข่งขัน
การแข่งขันจะมีทั้งหมด 4 รอบ

รอบคัดเลือก
ผู้เล่นในทีมทุกทีมจะต้องเข้าแข่งขันในรอบคัดเลือก โดยจะต้องเล่นบีทแมพที่ถูกทำโดย Mappool Selector 2 ครั้ง และนับคะแนนโดยใช้ครั้งที่ดีที่สุดในแมพนั้นมาคำนวณ
การคำนวณจะใช้เปอร์เซนต์ไทล์ บวกด้วยค่าความสมดุลของผู้เล่น ซึ่งจะคำนวณโดยใช้สูตร 0.05 / (ส่วนเบี่ยงเบนมาตรฐานของ percentile ของทุกแมพ + 1)
ผู้เล่นทุกคนไม่สามารถแสดงมุมมองของผู้เล่นนั้นได้จนกว่าผลการคัดเลือกจะถูกประกาศ

รอบ Play-off
การแข่งขันในรอบ Play-off นั้นจะใช้ผลการแข่งขันในรอบ Qualifiers ในการจับคู่ โดยจับคู่ดังนี้
อันดับ 1 - 4 จะถูกคัดเลือกเข้า Pro League โดยอัตโนมัติ
อันดับ 5 - 12 จะต้องทำการแข่งขัน โดยแมตช์จะถูกจัดโดย 5 vs. 12, 6 vs. 11, 7 vs. 10 และ 8 vs. 9 โดยผู้ชนะจะได้เข้าสู่ Pro League และผู้แพ้จะได้เข้าสู่ Division 1
อันดับ 13 - 20 จะต้องทำการแข่งขันโดยการจับคู่ดังนี้ 13 vs. 20, 14 vs. 19, 15 vs. 18 และ 16 vs. 17 โดยผู้ชนะจะได้เข้าสู่ Division 1 และผู้แพ้จะตกรอบ
	การแข่งขันในรอบ Play-off จะใช้ระบบการแข่งขันแบบ Best of 7 (ผู้ที่ได้ 4 แต้มก่อนชนะ) และแต่ละทีมจะได้สิทธ์แบนทีมละ 1 แมพ โดยผู้เล่นไม่สามารถเล่น 3 แมพติดต่อกันได้



Regular Season
การแข่งขัน Regular Season จะใช้ระบบเก็บคะแนน รูปแบบ Double Round Robin และกฎการแข่งขันในรอบนี้ของ Pro League และ Division 1 จะแตกต่างกันออกไป คือ
Pro League จะใช้ระบบเซต โดยทีมที่ได้ 2 เซตก่อนจะเป็นผู้ชนะ และทีมที่ได้ 3 แต้มภายในเซตก่อนจะได้เซตนั้น แต่ละเซต ทีมแต่ละทีม สามารถแบนได้ 2 แมพ และแมพที่ถูกแบนไปในเซตก่อนหน้าจะไม่สามารถแบนได้ในเซตที่กำลังแข่งขัน และผู้เล่นไม่สามารถเล่น 2 แมพติดต่อกันภายในเซตได้
Division 1 จะใช้ระบบมาตรฐาน คือทีมที่ได้ 5 แต้มก่อนจะเป็นผู้ชนะ ทีมแต่ละทีมสามารถแบนได้ 1 แมพ และผู้เล่นไม่สามารถเล่น 3 แมพติดต่อกันได้ การเก็บคะแนนจะนับแต้มที่ทีมนั้นได้

	การแข่งขัน Regular Season จะมีทั้งหมด 2 ช่วง แต่ละช่วงจะใช้ Mappool ที่ต่างกัน ทีมที่ได้อันดับ 1-4 ใน Pro League และ Division 1 จะถูกคัดเลือกเข้าสู่รอบต่อไป

Championship
การแข่งขันในรอบ Championship จะใช้ Bracket และ Double Elimination เป็นหลัก ซึ่งอันดับ 1-2 จะอยู่ที่ Winner Bracket และอันดับ 3-4 จะอยู่ที่ Loser Bracket และกฎการแข่งขันในรอบนี้ของ Pro League และ Division 1 จะแตกต่างกันออกไป คือ
Pro League จะใช้ระบบเซต โดยทีมที่ได้ 2 เซตก่อนจะเป็นผู้ชนะ และทีมที่ได้ 4 แต้มภายในเซตก่อนจะได้เซตนั้น แต่ละเซต ทีมแต่ละทีม สามารถแบนได้ 2 แมพ และแมพที่ถูกแบนไปในเซตก่อนหน้าจะไม่สามารถแบนได้ในเซตที่กำลังแข่งขัน และผู้เล่นไม่สามารถเล่น 3 แมพติดต่อกันภายในเซตได้
Division 1 จะใช้ระบบมาตรฐาน คือทีมที่ได้ 6 แต้มก่อนจะเป็นผู้ชนะ ทีมแต่ละทีมสามารถแบนได้ 1 แมพ และผู้เล่นไม่สามารถเล่น 3 แมพติดต่อกันภายในเซตได้ การเก็บคะแนนจะนับแต้มที่ทีมนั้นได้

{% endblock main %}