{% extends 'base.html' %}
{% block title %}Schedule{% endblock title %}
{% block main %}
<div class="row justify-content-center mb-3">
    <div class="col-auto">
        <div id="rounds-btn-group" class="btn-group">
            {% for r in active_rounds %}
            <a href="{{r.id}}" class="btn btn-primary {% if round_id | int == r.id %}active{% endif %}">{{r.name}}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% if matchs == [] %}
<div class="row mb-3">
    <div class="col text-center">
        <h1>Couldn't find any matches!</h1>
        <p>Perhaps the match has not yet begun, or there is no such match of the tournament!</p>
    </div>
</div>
{% endif %}
{% for m in matchs %}
<div class="row bg-dark rounded m-2 p-2 text-nowrap {% if m.stats == 1 %}finished{% endif %}">
    <div class="col-12 col-xl-6">
        <div class="row align-items-center justify-content-center">
            <div class="col btn">
                <a>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-auto d-none d-md-block">
                            <img src="{{ m.team1.flag_name | flag_url }}" class="avatar-min rounded">
                        </div>
                        <div class="col text-center text-truncate">
                            <span class="{% if m.team1.score == m.winpoint %}text-warning{% endif %}">{{ m.team1.full_name }}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-md-3">
                <div class="row text-center">
                    <div class="fs-3 m-0"><span class="{% if m.team1.score == m.winpoint %}text-warning{% endif %}">{% if m.team1.score != None %}{{ m.team1.score }}{% else %}FF{% endif %}</span> : <span class="{% if m.team2.score == m.winpoint %}text-warning{% endif %}">{% if m.team2.score != None %}{{ m.team2.score }}{% else %}FF{% endif %}</span></div>
                    <div class="m-0">{{ m.date }}</div>
                </div>
            </div>
            <div class="col btn">
                <a>
                    <div class="row align-items-center justify-content-center">
                        <div class="col text-center text-truncate">
                            <span class="{% if m.team2.score == m.winpoint %}text-warning{% endif %}">{{ m.team2.full_name }}</span>
                        </div>
                        <div class="col-auto d-none d-md-block">
                            <img src="{{ m.team2.flag_name | flag_url }}" class="avatar-min rounded">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl d-none d-xl-block p-0">
        <div class="row align-items-center justify-content-center text-center" style="min-height: 60px;">
            {% if m.stats != 2 %}
            <div class="col">
                <span>Referee</span><br>
                <span class="overflow-hidden">{{ m.referee.username }}</span>
            </div>
            <div class="col">
                <span>Streamer</span><br>
                <span class="overflow-hidden">{{ m.streamer.username }}</span>
            </div>
            <div class="col d-none d-md-block">
                <span>Commentator</span><br>
                <span class="overflow-hidden"><small>{{ m.commentator.username }}{% if m.commentator2.username %}, {{ m.commentator2.username }}{% endif %}</small></span>
            </div>
            <div class="col-12 col-xl-2 text-end user-select-none">
                <a {% if m.live and m.streamer.username and not m.stats %}href="{{ tourney.live_link }}" target="_blank"{% endif %}><span class="badge {% if m.live and m.streamer.username and not m.stats %}bg-danger{% else %}bg-gone{% endif %}">Live</span></a><br>
                <a {% if m.mp_link %}href="{{ m.mp_link }}" target="_blank"{% endif %}><span class="badge {% if m.mp_link %}bg-primary{% else %}bg-gone{% endif %}">MP Link</span></a><br>
                <a {% if m.video_link %}href="{{ m.video_link }}" target="_blank"{% endif %}><span class="badge {% if m.video_link %}bg-warning text-dark{% else %}bg-gone{% endif %}">Replay</span></a>
            </div>
            {% else %}
            <div class="col d-none d-md-block">
                <span>{{ m.note }}</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock main %}